{% extends 'base.html' %}


{% block title %}
    <title>Search</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'autoad/list_style.css' %}">
{% endblock %}


{% block content %}
    <div id="main_content">
        <form method="GET" id="searchbar">
            <div class="search-box">
                <table>
                    <tr>
                        <div class="inputfield">
                            <p>Vehicle manufacturer</p>
                            <div>{{ filter.form.brand }}</div>
                        </div>
                        <hr>
                    </tr>
                    <tr>
                        <div class="inputfield">
                            <label for="model_fi">Vehicle Model:</label>
                            <select name="model_fi" id="model_fi">
                                <option value="">----------</option>
                            </select>
                            <p class="d-none">{{ filter.form.model }}</p>
                        </div>
                        <hr>
                    </tr>
                    <tr id="submodel_field" class="d-none">
                        <div class="inputfield">
                            <label for="submodel_fi">Submodel:</label>
                            <select name="submodel_fi" id="submodel_fi">
                                <option value="">----------</option>
                            </select>
                            <p class="d-none">{{ filter.form.submodel }}</p>
                        </div>
                        <hr>
                    </tr>
                    <tr>
                        <td>Price range</td>
                        <td>{{ filter.form.price }} €</td>
                    </tr>
                    <tr>
                        <td>Model year range</td>
                        <td>{{ filter.form.vehicle_model_year }}</td>
                    </tr>
                    <tr>
                        <td>Mileage</td>
                        <td>{{ filter.form.mileage_km }} km</td>
                    </tr>
                    <tr>
                        <td>Order by</td>
                        <td>{{ filter.form.ordering }}</td>
                    </tr>
                    <tr style="border: none;">
                        <td colspan="2" style="text-align: center;">
                            <button type="submit"
                                    class="btn btn-primary">Search
                            </button>
                            <a href="." style="margin-left: 10px"
                               class="btn">Clear</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="margin-left: 30px; color: red;"><b>Model searches for parent model search (ex.
                                2-series, CLA-Class
                                etc.) will currently not display all models with that parent model.</b></p>
                        </td>
                    </tr>
                </table>
            </div>

        </form>
        <p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}
</script>
        <div id="list_items">
            {% for instance in response %}
                {% if instance.active %}
                    <div>
                        <a href='{{ instance.get_absolute_url }}'>
                            <div class="list-item">
                                <img context="{{ instance.pictures }}" id="ad_cover{{ forloop.counter }}"
                                     class="list_item_image">
                                <div class="details_area">
                                    <h3>{{ instance.brand }}
                                        {% if instance.vehicle_submodel %}{{ instance.vehicle_submodel }}{% else %}
                                            {{ instance.vehicle_model }} {% endif %}
                                        {% if instance.vehicle_model_other %}
                                            {{ instance.vehicle_model_other }}{% endif %}
                                        {{ instance.vehicle_model_year }} </h3>
                                    <div class="vehicle-details">
                                        <h5>{{ instance.power_kw }} kW</h5>
                                        <h5>{{ instance.fuel }}</h5>
                                        <h5 class="mileage"><b
                                                style="font-weight: inherit;">{{ instance.mileage_km }}</b> km</h5>
                                        <h5>{{ instance.transmission }}</h5>
                                        <h5>{{ instance.drive }}</h5>
                                    </div>
                                    <h4 class="price_price">{% if instance.reduced_price %}<b
                                            id="reduced_price">{{ instance.reduced_price }} €</b> <s
                                            id="original_price">{{ instance.price }} €</s>{% else %}
                                        <b>{{ instance.price }}
                                            €</b>{% endif %}</h4>

                                </div>
                            </div>
                        </a>
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="pagination">
		<span class="step-links">
			{% if response.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ response.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
				Page {{ response.number }} of {{ response.paginator.num_pages }}
			</span>

            {% if response.has_next %}
                <a href="?page={{ response.next_page_number }}">next</a>
                <a href="?page={{ response.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
		</span>
        </div>
    </div>
    <script src="{% static 'autoad/list_function.js' %}" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script>

        let loc = window.location;
        let brand_sel = $("#id_brand");
        let model_sel = $("#model_fi");
        let submodel_sel = $("#submodel_fi");
        let buy_sell_toggle = $("#buy_sell_toggle");
        let counter = true;

        let wsStart = 'ws://';
        if (loc.protocol === 'https:') {
            wsStart = 'wss://';
        }
        let endpoint = wsStart + loc.host + loc.pathname;
        let socket = new ReconnectingWebSocket(endpoint);
        socket.onmessage = function (e) {
            console.log("message", e);
            let chatDataMsg = JSON.parse(e.data);
            let keys_in_message = Object.keys(chatDataMsg);
            console.log(keys_in_message)
            if (keys_in_message.includes("mudelid")) {
                console.log(chatDataMsg.mudelid)
                let new_models = "";
                for (let i = 0; i < chatDataMsg.mudelid.length; i++) {
                    let muutuja = chatDataMsg.mudelid[i]
                    let inside_html = '<option value="' + muutuja[0] + '">' + muutuja[1] + '</option>'
                    new_models += inside_html
                }

                model_sel.html($.parseHTML(new_models));
                let mdl_value = chatDataMsg.mudelid[0][0];
                $("#id_model").val(mdl_value);
                let finalData = {
                    'model': mdl_value
                };
                console.log(finalData);
                socket.send(JSON.stringify(finalData));
            }
            if (keys_in_message.includes('submudelid')) {
                let new_submodels = "";
                for (let i = 0; i < chatDataMsg.submudelid.length; i++) {
                    let muutuja = chatDataMsg.submudelid[i];
                    let inside_html = '<option value="' + muutuja[0] + '">' + muutuja[1] + '</option>'
                    new_submodels += inside_html
                }
                if (chatDataMsg.submudelid.length >= 1) {
                    $("#submodel_field").removeClass("d-none")
                    submodel_sel.html($.parseHTML(new_submodels))
                    $("#id_submodel").val(submodel_sel.val())
                } else {
                    $("#submodel_field").addClass("d-none")
                }
            }
            if (counter) {
                let finalData = {
                    'text': chatDataMsg
                };
                console.log(finalData);
                socket.send(JSON.stringify(finalData));
                counter = false;
            }
        };
        socket.onopen = function (e) {
            console.log("open", e);
            brand_sel.change(() => {
                let brand_value = brand_sel.val();
                if (brand_value !== "") {
                    let finalData = {
                        'brand': brand_value
                    };
                    console.log(finalData);
                    socket.send(JSON.stringify(finalData));
                } else {
                    model_sel.html($.parseHTML('<option value="">----------</option>'))
                    submodel_sel.html($.parseHTML('<option value="">----------</option>'))
                }
            });
            model_sel.change(() => {
                let model_value = model_sel.val();
                $("#id_model").val(model_value)
                let finalData = {
                    'model': model_value
                };
                console.log(finalData);
                socket.send(JSON.stringify(finalData));


            });
        };
        socket.onerror = function (e) {
            console.log("error", e);
        };
        socket.onclose = function (e) {
            console.log("close", e);
            counter = true
        };
        buy_sell_toggle.click(() => {
            let element = buy_sell_toggle;
            if (element.hasClass("sell-button")) {
                element.removeClass("sell-button")
                element.addClass("buy-button")
                element.html("BUY")
            } else {
                element.removeClass("buy-button")
                element.addClass("sell-button")
                element.html("SELL")
            }
        });
        submodel_sel.click(() => {
            $("#id_submodel").val(submodel_sel.val())
        });
        submodel_sel.change(() => {
            $("#id_submodel").val(submodel_sel.val())
        });
        buy_sell_toggle.click(function () {
            if (buy_sell_toggle.hasClass("sell-button")) {
                $("#id_ad_type").val("Sale")
            } else {
                $("#id_ad_type").val("Buy")
            }
        });
        $(document).ready(() => {
            if (buy_sell_toggle.hasClass("sell-button")) {
                $("#id_buy_sell").val("SELL")
            } else {
                $("#id_buy_sell").val("BUY")
            }
        });
    </script>
{% endblock %}