body a:hover {
	text-decoration: none;
}

body nav a {
	color: #ff1744;
}

body nav a:hover {
	color: #ff616f;
}

body nav a:active {
	color: #c4001d;
}

footer {
	width: 100%;
	border-top: 1px solid #808080;
	color: #808080;
	padding: 25px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	left: 0;
	bottom: 0;
	position: static;
	background: white;
}

@media only screen and (max-device-width: 480px) {
 nav a b {
	 display: none;
 }
}