body {
	max-width: 100%;
}

#main_content {
	min-height: 1000px;
	max-width: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.pagination {
	align-self: center;
}

.listitem {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	padding-left: 20px;
}

.details_area {
	margin-left: 25px;
	color: black;
}

#searchbar {
	padding: 20px;
}

.searchbox {
	background: linear-gradient(rgba(133, 188, 213, 0.45), rgba(183, 215, 230, 0.45));
	padding: 20px;
	border-radius: 10px;
	display: block;
	float: left;
}

table tr td {
	padding: 10px;
	text-align: center;
}

table tr {
	border-bottom: 1px solid lightgray;
}

.price_price s {
	font-size: 15px;
}

.vehicle_details {
	height: 150px;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
}

.vehicle_details h5 {
	padding: 5px;
}